DATABASE_URL=mysql://root:123456@localhost:3306/training_platform

JWT_SECRET=sua-chave-secreta-aqui
AWS_S3_ENDPOINT=http://localhost:9000
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=admin123